@import "@/styles/mixins";

.container {
  @include default-app-padding;
  display: grid;
  justify-content: center;
  margin-top: 2.5rem;
}

.heading {
  display: flex;
  justify-content: center;
  color: #021526;
  font-size: 32px;
  font-weight: 600;
}

.formWrapper {
  display: grid;
  margin-top: 2rem;
  width: 790px;
  grid-template-rows: 5;
  gap: 7rem;
}

.radioInputsWrapper {
  display: flex;
  align-items: center;

  .radioLabel {
    font-size: 16px;
    font-weight: 600;
  }

  .radioInput {
    margin-right: 4rem;
  }
}

.inputGroupDescription {
  color: #1a1a1f;
  font-size: 16px;
  font-weight: 600;
}

.inputGroupWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.detailsInputsWrapper {
  .textareaInput {
    height: 170px;
  }
}

// .textInputLabel {
//   // color: red;
//   font-size: 14px;
//   font-weight: 600;
// }

// .required {
//   color: black;
// }
