@import "@/styles/mixins";

.container {
  @include default-app-padding;
  display: grid;
  justify-content: center;
  margin-top: 2.5rem;
}

.heading {
  display: flex;
  justify-content: center;
  color: #021526;
  font-size: 32px;
  font-weight: 600;
}

.formWrapper {
  display: grid;
  margin-top: 2rem;
  width: 790px;
  grid-template-rows: 5;
  gap: 7rem;
}

.radioInputsWrapper {
  display: flex;
  align-items: center;

  .radioLabel {
    font-size: 16px;
    font-weight: 600;
  }

  .radioInput {
    margin-right: 4rem;
  }
}

.inputGroupDescription {
  color: #1a1a1f;
  font-size: 16px;
  font-weight: 600;
}

.inputGroupWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.detailsInputsWrapper {
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 1.9px dashed #2d3648;
    border-radius: 8px;
  }

  .textareaInput {
    height: 170px;
  }
}

.fileInputText {
  margin-top: 2rem;
}

.uploadPhotoText {
  font-size: 14px;
  font-weight: 600;
}

.uploadedImageWrapper {
  display: flex;
  margin-top: 1rem;
  border-radius: 12px;
  // overflow: hidden;
}

.errorMessage {
  font-size: 12px;
  margin-top: 2px;
  color: red;
}

.errorBorder {
  border: 1.9px dashed red;
}

.buttonsWrapper {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 1rem;
}
