@import "@/styles/mixins";

.container {
  @include default-app-padding;
  display: grid;
  justify-content: center;
  margin-top: 2.5rem;
}

.heading {
  display: flex;
  justify-content: center;
  color: #021526;
  font-size: 32px;
  font-weight: 600;
}

.formWrapper {
  display: grid;
  margin-top: 2rem;
  width: 790px;
  grid-template-rows: 5;
  gap: 7rem;
}

.radioInputsWrapper {
  display: flex;
  align-items: center;

  .radioLabel {
    font-size: 16px;
    font-weight: 600;
  }

  .radioInput {
    margin-right: 4rem;
  }
}
