@import "@/styles/mixins";

.container {
  @include default-app-padding;
  display: grid;
  grid-template-rows: auto 1fr auto 1fr;
  height: 100%;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  > :first-child {
    height: 100%;
    width: 100%;

    > p {
      display: flex;
      justify-content: end;
      margin-top: 0.7rem;
      color: #808a93;
      font-weight: 400;
      font-size: 16px;
    }
  }

  > :nth-child(2) {
    display: flex;
    // width: 65%;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 2rem;
    margin-left: 5rem;

    .priceText {
      color: #021526;
      font-size: 48px;
      font-weight: 700;
    }

    span {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
      color: #808a93;
      font-size: 24px;
      font-weight: 400;
    }

    .descriptionText {
      color: #808a93;
      size: 16px;
      font-weight: 400;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }

    > :last-child {
      margin-top: 2rem;
    }

    .deleteButton {
      border: 1px solid #676e76;
      border-radius: 8px;
    }

    .deleteButtonText {
      color: #676e76;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.image {
  border-radius: 12px;
}

.similarLocations {
  color: #021526;
  font-size: 32px;
  font-weight: 500;
}
