@import "@/styles/mixins";

.container {
  @include default-app-padding;

  height: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.listingWrapper {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
