.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 6px 16px 6px 16px;
  border-radius: 10px;
  border: 1px solid #f93b1d;
}

.buttonText {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  > span {
    font-weight: 700;
    font-size: 20px;
  }
}
